/* Global */
body
{
    font-size: 16px;
    background-color: #202020;
    color: #fff;
}

img
{
    width: 100%;
}

.glyphicon 
{
    margin-right: 10px;
}

.copyright 
{
    text-align: center;
    padding: 5px 0;
}

.btn
{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
}

.btn-reset
{
    margin-left: 10px;
}

.modal-content 
{
    background-color: #242424;
}

.close, .close:focus, .close:hover
{
    color: #fff;
}

.invalid-feedback
{
    color: red;
    display: none;
}

.ajax-loader
{
    max-width: 50px;
    display: none;
}

/* Nav Bar */
nav.navbar
{
    background-color: #181818;
    border: #181818;
    border-radius: 0;
    color: #fff;
    margin-bottom: 0;
}

nav.navbar a
{
    color: #fff;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover
{
    background-color: #181818;
    color: #fff;
}

nav.navbar a:not(.navbar-brand):after
{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

nav.navbar a:hover:after
{
    width: 100%;
    background: #fff;
}

nav.navbar .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover 
{
    background-image: none;
}

nav.navbar .navbar-brand, nav.navbar .navbar-nav
{
    height: 80px;
}

nav.navbar .navbar-brand img, nav.navbar .nav > li
{
    height: 100%;
}

nav.navbar .navbar-nav > li > a
{
    line-height: 45px;
}

nav.navbar .navbar-toggle
{
    background-color: #fff;
    margin-top: 15px;
}

nav.navbar .navbar-toggle .icon-bar
{
    background-color: #181818;
}

@media (max-width: 1080px)
{
    nav.navbar .navbar-nav > li > a
    {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px)
{
    nav.navbar .navbar-brand img
    {
        height: 100%;
    }

    nav.navbar .nav > li
    {
        height: auto;
    }

    nav.navbar .glyphicon
    {
        display: none;
    }

    nav.navbar .navbar-nav
    {
        height: auto;
    }

    nav.navbar .navbar-nav > li > a
    {
        line-height: 20px;
    }
}

/* Newsletter */
section.newsletter-container
{
    background-color: #fff;
    color: #282828;
    text-align: center;
    padding: 20px;
}

section.newsletter-container .newsletter-title
{
    font-size: 20px;
    font-weight: bold;
}

section.newsletter-container .newsletter-form-container
{
    margin: 10px 0;
}

section.newsletter-container .newsletter-description
{
    font-weight: lighter;
}

/* Product Page */
.product-page .product-page-header-container 
{
    position: relative; 
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-page .product-page-header-container::before
{
    content: "";
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.product-page .lamborghini-page-header-container::before
{
    background-image: url(../images/lamborghini/revuelto.jpg);
}

.product-page .product-page-header-container .page-header
{
    position: relative;
    opacity: 0;
    margin-left: 200px;
    min-height: 250px;
    border-bottom: none;
}

.product-page .product-page-content-container .product-description
{
    width: 100%;
}

.product-page .product-page-content-container .product-description .product-image
{
    margin-left: -35px;
}

.product-page .product-page-content-container .product-content
{
    padding: 10rem 20px;
}

.product-page .product-page-content-container .product-content .product-content-img
{
    margin-bottom: 20px;
}

.product-page .product-info .product-slider-container .product-slider
{
    list-style-type: none;
    padding-left: 0;
    padding-inline-start: 0;
}

@media (max-width: 768px)
{
    .product-page .product-page-content-container .product-description
    {
        margin-top: 100px;
    }

    .product-page .product-page-content-container .product-content
    {
        padding: 50px 10px;
    }
}